# APP
APP_MODE = "DEV"
APP_POSTGRES_DSN = postgresql+asyncpg://postgres:postgres@db:5432/postgres
APP_BROKER_URL = "redis://localhost:6379/0"
APP_TEST_DATABASE = sqlite+aiosqlite:///db.sqlite3
APP_ACCESS_EXPIRE = 10
APP_REFRESH_EXPIRE = 10080
APP_SECRET_KEY = "yout secret key"
APP_ALGORITHM = "HS256"

# Deploy
SERVER_PORT = 8000
EXTERNAL_PORT = 8000

# PostgreSQL
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres
POSTGRES_DB = postgres
POSTGRES_PORT = 5432
POSTGRES_HOST = db

# Redis
REDIS_PORT = 6397
