# APP
APP_MODE = "DEV"
APP_API_PREFIX = "/api/v1"
APP_POSTGRES_DSN = postgresql+asyncpg://postgres:postgres@db:5432/postgres
APP_BROKER_URL = "redis://redis:6379/0"
APP_TEST_DATABASE = sqlite+aiosqlite:///db.sqlite3
APP_ACCESS_EXPIRE = 10
APP_REFRESH_EXPIRE = 10080
APP_EMAIL_TOKEN_EXPIRE = 120
APP_SECRET_KEY = "yout secret key"
APP_ALGORITHM = "HS256"
APP_BASE_URL = "http://127.0.0.1:8000"
APP_SUBJECT = "YOUR SUBJECT FOR EMAIL"

# SMTP Server
APP_SMTP_SERVER = "smtp.example.ru"
APP_SMTP_PORT = 465
APP_SMTP_LOGIN = "your login"
APP_SMTP_PASSWORD = "your password"

# Deploy
SERVER_PORT = 8000
EXTERNAL_PORT = 8000

# PostgreSQL
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres
POSTGRES_DB = postgres
POSTGRES_PORT = 5432
POSTGRES_HOST = db

# Redis
REDIS_PORT = 6397
